<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
        <title>{{ title }} - Testing page</title>
    {% else %}
        <title>Testing page</title>
    {% endif %}

    <meta name="theme-color" content="#2c9a40">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?551132">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="TestSolution" class="header-logo">
            <hr class="header-hr">
            <span class="header-label">тестирование кандидатов</span>

            {% if current_user.is_anonymous is sameas false %}
                <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png') }}" alt="Logout" class="header-logout"></a>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="errors">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>