<html>
    <head>
        {% if title %}
        <title>{{ title }} - Testing page</title>
        {% else %}
        <title>Testing page</title>
        {% endif %}
        <meta charset="utf-8\n\n">
    </head>
    <body>
        <div>Страница теста:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>