{% extends "base.html" %} 

{% block content %}

<div class="faq">
    <img src="{{ url_for('static', filename='ginger-cat.png') }}" alt="FAQ">

    <div class="advice">
        Для навигации по вопросам проведите пальцем влево или вправо ( нажмите и перетащите курсор на ПК )<br>
        Если вопрос ( ответы на вопрос ) не помещается на экране полностью, то его можно пролистать вверх с помощью свайпа или колёсиком мыши
    </div>

    <div class="input-button"><p style="transform: translateY(+50%);">ПРИСТУПИТЬ К ТЕСТУ</p></div>
</div>

<form action="{{ url_for('test') }}" method="post" class="form form-test">
    <div class="siema">

        {% for test in tests %}
        <div>

            <div class="test-question">
                
                {% for question in test.questions %}
                    <p style="white-space: pre-wrap;">{{question}}</p> 
                {% endfor %}
            </div>
            <hr>

            <div class="test-answers">
                {% for answer in test.answers %}
                <label class="test-answer">  
                                <input type="radio" name={{test.questions[0][7:10]}} value={{answer.id}}>
                                <div class="radiocheckmark"></div>
                                <span>{{answer.value}}</span>
                            </label><br> {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>


    <hr>
    <br>
    <br> {{ form.submit(value="ЗАКОНЧИТЬ ТЕСТИРОВАНИЕ", class="input-button", disabled="") }}
</form>


<script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='siema.min.js') }}"></script>
<script>
    const mySiema = new Siema({
        selector: '.siema',
        duration: 100,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: true,
        multipleDrag: true,
        threshold: 20,
        loop: false,
        rtl: false,
        onInit: () => {},
        onChange: () => {},
    });

    var slidesSet = new Set()


    $(document).ready(function(){
        function bigBro(e) {
            
            if(e.type == 'click' && e.target.localName == 'input') {
                slidesSet.add(mySiema.currentSlide)

                if (slidesSet.size == 15) {
                    $(".input-button").removeAttr('disabled')
                }
            }
        }

        $(document).bind("click", bigBro);


        $(".faq .input-button").click(function(){
            $(".faq").fadeOut(250)
        })
    })
</script>

{% endblock %}