{% extends "base.html" %}

{% block content %}
    <h2>Тестируемый: {{ current_user.username }}!</h1>
    <h2>Отдел : {{ otdel }}!</h2>
        {% for test in tests %}
            {% for question in test.questions %}
            <span style="white-space: pre-line"><p>{{question}}</p></span>
            {% endfor %}
            {% for answer in test.answers %}
            <p><input type="radio" id={{answer}} value={{answer}}>{{answer}}</p>
            {% endfor %}<br>
        {% endfor %}
    <form method="post">
    {{ form.submit }}
    </form>
{% endblock %}