{% extends "base.html" %}

{% block content %}
    <form action="" method="post" class="form form-logon">
        {{ form.hidden_tag() }}

        {{ form.username(class="input-text", placeholder="Фамилия Имя") }}<br>

        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <br>

        <label class="input-checkbox-container">
            {{ form.remember_me() }}
            <span class="checkmark"></span>
            <span class="input-label small-font">Запомнить меня</span> 
        </label>

        <hr>
        <span class="small-font" style="display: block; text-align: justify; width: 100%;">Для прохождения тестирования необходимо <a href="{{ url_for('register')}}">зарегистрироваться</a></span>


        <br>
        <br>
        <br>
        <br>
        <br>

        <p>{{ form.submit(value="НАЧАТЬ ТЕСТИРОВАНИЕ", class="input-button") }}</p>

    

    
    </form>
    {% endblock %}